/* Cadastro.css */
.container {
    padding: 20px;
}

h2 {
    color: #2C3E50; /* Cor do título */
}

input {
    border: 1px solid #3498DB; /* Cor da borda */
    padding: 10px;
    border-radius: 5px;
    width: 99%; /* Para que ocupe toda a largura disponível */
    margin-bottom: 10px; /* Espaçamento entre os campos */
}

button {
    background-color: #3498DB; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

button:hover {
    background-color: #2980B9; /* Cor do botão ao passar o mouse */
}
